*.pyc
.vscode
output
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
tensorboard_3d
*too*
802c*
*videos*
screenshots
GaussianViewTest*
tandt_db*
db/*
autoslurm
wrapper.sh
tandt/*
eval/*
a15*
.DS_Store